<?xml version="1.0" encoding="US-ASCII" ?>
<adfc-mobile-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.0">
  <task-flow-definition id="springboard-tf">
    <default-activity>active</default-activity>
    <view id="active">
      <page>/aeg.cw.Springboard/active.amx</page>
    </view>
    <view id="dashboard">
      <page>/aeg.cw.Dashboard/dashboard.amx</page>
    </view>
    <view id="search">
      <page>/debugger.amx</page>
    </view>
    <view id="near">
      <page>/debugger.amx</page>
    </view>
    <view id="new">
      <page>/debugger.amx</page>
    </view>
    <view id="cases">
      <page>/debugger.amx</page>
    </view>
    <view id="clients">
      <page>/debugger.amx</page>
    </view>
    <control-flow-rule id="__3">
      <from-activity-id>active</from-activity-id>
      <control-flow-case id="__4">
        <from-outcome>dashboard</from-outcome>
        <to-activity-id>dashboard</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__5">
        <from-outcome>search</from-outcome>
        <to-activity-id>search</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__6">
        <from-outcome>near</from-outcome>
        <to-activity-id>near</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__9">
        <from-outcome>new</from-outcome>
        <to-activity-id>new</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__10">
        <from-outcome>upcoming</from-outcome>
        <to-activity-id>cases</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__11">
        <from-outcome>recent</from-outcome>
        <to-activity-id>clients</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <page-flow-scope-behavior>
      <push-new/>
    </page-flow-scope-behavior>
  </task-flow-definition>
</adfc-mobile-config>
